body {
  background-color: #222222;
}

#particles-js-tile-1-particles {
  top: 180px;
}

#particles-js-tile-2-particles {
  top: 180px;
  height: 20%;
}

.welcome-font {
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;
  color: ghostwhite;
  font-family: 'Bungee', cursive;
}

.welcome-signup {
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;
  color: ghostwhite;
  top: 20px;
  font-size: 200%;
  font-family: 'Faster One', cursive;
}

.welcome-info-font {
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;
  color: #2eebb9;
  font-style: bold;
  font-size: 230%;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
  font-family: 'Bungee Shade', cursive;
}


.btc-pk-modal-header.modal-header {
  background-color: #223;
}

.modal-title {
  display: block;
  position: relative;
  text-align: center;
  margin: 0 auto;
  color: ghostwhite;
}


.modal-header.close {
  margin-top: -15px;
}

.close {
  width: 30px;
  color: crimson;
  opacity: 1;
}


h1.btc-pk-info {
  color: ghostwhite;
  font-size: 140%;
}


div.btc-pk-modal-body.modal-body {
  position: relative;
  padding: 15px;
  overflow: scroll;
  overflow-wrap: break-word;
  background-color: #222222;
  color: #77b3d4;
  font-family: 'Gruppo', cursive;
}

div.btc-pk-modal-footer.modal-footer {
  background-color: #223;
}

.eth-wallet-label {
  color: ghostwhite;
}

.btc-pk-label {
  color: ghostwhite;
}

button.btc-pk-modal-close-btn.btn.btn-default {
  color: ghostwhite;
  background-color: crimson;
  border-color: #ccc;
}

span.ethWallet {
  color: gold;
  text-decoration: underline;
  text-decoration-color: ghostwhite;
  font-size: 70%;
}

span.btcWallet {
  color: gold;
  text-decoration: underline;
  text-decoration-color: ghostwhite;
  font-size: 110%;
}

h3.btc-security-measure-key {
  color: ghostwhite;
}

span.btcPrivateKey {
  color: gold;
  text-decoration: underline;
  text-decoration-color: ghostwhite;
  font-size: 110%;
}

.login-container {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 400px;
  height: 300px;
  background-color: rgba(119, 129, 214, 0.6);
  border: 20px solid #7781d6;
  border-radius: 5px;
}

.login-username-label {
  text-align: center;
  display: block;
  position: relative;
  font-family: 'Bungee', cursive;
}

.login-email-label {
  text-align: center;
  display: block;
  position: relative;
  font-family: 'Bungee', cursive;
}

.login-password-label {
  text-align: center;
  display: block;
  position: relative;
  font-family: 'Bungee', cursive;
}

.login-username-input {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  font-family: 'Gruppo', cursive;
}

.login-email-input {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  font-family: 'Gruppo', cursive;
}

.login-password-input {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  font-family: 'Gruppo', cursive;
}

.login-submit-btn {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 40%;
  font-family: 'Bungee', cursive;
}


.navbar-header {
  width: 100px;
}

.navbar-brand {
  width: 200px;
  display: inline-block;
}

img.logo {
  text-align: center;
  margin: 0 auto;
  width: 35%;
  display: inline-block;
  position: relative;
}

.nav.navbar-nav {
  display: inline-block;
  margin-top: 20px;
}


.carouzel {
  display: block;
  position: relative;
  left: 17%;
  width: 50%;
  border: solid 1px grey;
  border-radius: 1px;
  text-align: center;
  background-color: #1D2951;
}

div.topics-list > div.topics-add-container > button.topics-add-btn {
  display: block;
  position: relative;
  width: 6em;
  height: 3em;
  margin: 10px 60px;
  background-color: black;
  color: #73a8c5;
  border: solid 3px grey;
  border-radius: 15px;
  font-family: 'Bungee', cursive;
}

.topics-add-container {
  margin-top: 200px;
}


.topics-list {
  margin-top: 220px;
}


.app-loading-container{
  display: block;
  position: relative;
  margin: 0 auto;
  width: 800px;
  background-color: #6e4698;
  height: 65%;
  border: groove #f9aa40 2px;
  border-radius: 2px;
}


.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  color: #fbee82;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



.video {
  display: block;
  position: relative;
  width: auto;
  border: 1px solid black;
  border-radius: 6px;
}

.video-wrapper{
  display:block;
  position: relative;
  margin: 0 auto;
  top: 30px;
  width:auto;
  position:relative;
  width:50%;
}

.playpause {
  /*button options*/
  /*http://png-4.findicons.com/files/icons/2315/default_icon/256/media_play_pause_resume.png*/
  /*https://d1j5l9mbez8e02.cloudfront.net/wp-content/uploads/2016/07/divi-play-button.png*/
  /*https://cdn.pixabay.com/photo/2013/07/12/16/56/play-151523_1280.png*/
  background-image:url("https://d1j5l9mbez8e02.cloudfront.net/wp-content/uploads/2016/07/divi-play-button.png");
  background-repeat:no-repeat;
  width:50%;
  height:50%;
  position:absolute;
  left:0%;
  right:0%;
  top:0%;
  bottom:0%;
  margin:auto;
  background-size:contain;
  background-position: center;
}

.video-comp-wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
}

.video-player-info-container {
  display: block;
  position: relative;
  margin: 0 auto;
  top: 80px;
  width: 50%;
  text-align: center;
  border: groove 3px ghostwhite;
  border-radius: 6px;
  color: ghostwhite;
  background-color: #1D2951;
  font-family: 'Gruppo', cursive;
  font-size: 130%;
}

.video-likes-container {
  display: inline-block;
  position: relative;
  left: 25%;
  top: -70px;
  height: 30px;
  margin: 0 auto;
  color: ghostwhite ;
  text-shadow: 0px 0px 3px #3deaba;
}

.like-btn-container {
  display: inline-block;
  position: relative;
  left: 30%;
  height: 30px;
  top: -70px;
  margin: 0 auto;
}

.toggle-comment-container {
  display: block;
  position: relative;
  width: 50%;
  margin: 0 auto;
  background-color: #666666;
  color: ghostwhite;
  text-align: center;
  border: ridge 2px #8098c2;
  margin-bottom: 50px;
  font-family: 'Bungee', cursive;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

.video-comments-substition {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 15px;
  top: 55px;
}

.comment-input {
  display: block;
  position: relative;
  width: 80%;
  margin: 0 auto;
  font-style: bold;
  font-size: 120%;
  font-family: 'Gruppo', cursive;
}

.video-comment-submit {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  left: 250px;
  width: 130px;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Bungee', cursive;
}

.video-comment-container {
  display: block;
  position: relative;
  margin: 0 auto;
  background-color: #79c1af;
  color: ghostwhite;
  margin-bottom: 5px;
  width: 40%;
  border: groove 2px ghostwhite;
  border-radius: 4px;
  text-align: center;
  font-family: 'Gruppo', cursive;
  font-size: 130%;
}


.search-input-container {
  display: block;
  position: relative;
  top: -10px;
  left: 700px;
  text-align: center;
  background-color: rgba(38, 150, 119, 0.2);
  width: 304px;
  height: 90px;
  border: solid #1e2a50;
  border-left-width: 1px;
  border-right-width: 1px;
  border-radius: 5px;
}

.search-input {
  display: inline-block;
  position: relative;
  background-color: rgba(38, 150, 119, 0.2);
  width: 304px;
  height: 90px;
  border: solid #1e2a50;
  border-left-width: 1px;
  border-right-width: 1px;
  border-radius: 5px;
  top: -51px;
  left: 0%;
}

.search-input-text {
  display: block;
  position: relative;
  width: 300px;
  margin: 0 auto;
  border: transparent;
  font-family: 'Gruppo', cursive;
  font-style: bold;
  font-size: 130%;
  background-color: rgba(255, 255, 240, 0.8);
}

.radio-btn {
  display: inline;
  position: relative;
  margin-right: 30px;
  top: -20px;
  color: ghostwhite;
  text-shadow: rgba(0,0,0,0.5) 0px 3px 3px;
}

.search-input > label {
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-family: 'Bungee', cursive;
  color: #1e2a50;
}

nav.navbar.navbar-default {
  height: 150px;
  background-color: #777fd8;
}

ul.nav.navbar-nav > li:first-child {
  font-family: 'Bungee', cursive;
  background-color: #202c4e;
  border: solid 1px #cccccc;
  border-radius: 3px;
  color: #eff6ea;
}

.guest-signup {
  font-family: 'Bungee', cursive;
  background-color: #202c4e;
  border: solid 1px #cccccc;
  border-radius: 3px;
  color: #eff6ea;
  margin-left: 5px;
}

.guest-signup:hover {
  font-family: 'Bungee', cursive;
  background-color: #eff6ea;
  border: solid 1px black;
  border-radius: 3px;
  color: #eff6ea;
  margin-left: 5px;
}



ul.nav.navbar-nav > li:first-child:hover {
  font-family: 'Bungee', cursive;
  background-color: #eff6ea;
  border: solid 1px black;
  border-radius: 3px;
  color: #eff6ea;
}

.guest-signup > a > a{
  color: #eff6ea;
}

.guest-signup > a > a:hover {
  color: #202c4e;
}

ul.nav.navbar-nav > li:first-child > a > a{
  color: #eff6ea;
}

ul.nav.navbar-nav > li:first-child > a > a:hover {
  color: #202c4e;
}

.search-btn {
  display: inline-block;
  position: relative;
  background-color: #1f2b4f;
  color: #eff6e9;
  width: 130px;
  left: 138.5px;
  top: -60px;
  height: 30px;
  font-size: 90%;
  font-family: 'Bungee', cursive;
}

.clear-search-btn {
  display: block;
  position: relative;
  background-color: #1f2b4f;
  color: #eff6e9;
  width: 130px;
  top: -85px;
  height: 30px;
  left: 652.5px;
  font-size: 90%;
  text-align: center;
  font-family: 'Bungee', cursive;
}

.like-btn-container > p {
  display: inline-block;
  position: relative;
  height: 30px;
  text-align: center;
}

.btn.btn-info.btn-lg {
  height: 35px;
  display: inline-block;
  position: relative;
  text-align: center;
  left: -20px;
  border-radius: 20px;
  font-family: 'Bungee', cursive;
  font-size: 75%;
}

.video-list-container {
  display: block;
  position: relative;
  margin: 0 auto;
  background-color: ghostwhite;
  text-align: center;
  border: solid 2px grey;
  border-radius: 12px;
  height: 240px;
}

.container {
  display: inline-block;
}


.video-list-container:hover {
  display: block;
  position: relative;
  background-color: ghostwhite;
  text-align: center;
  border: solid 3px #7783d4;
  border-radius: 12px;
}

.vid-preview-title {
  font-family: 'Bungee', cursive;
}

.vid-preview-thumnail {
  width: 100%;
  height: 100%;
}

.vid-preview-topic {
  font-family: 'Bungee';
  font-size: 100%;
  font-style: italic;
}

.vid-preview-description {
  font-family: 'Gruppo', cursive;
  font-size: 150%;
  overflow: hidden;
}

.vid-preview-title:hover {
  font-family: 'Bungee', cursive;
  text-decoration: underline;
  color: #7783d4;
  cursor: pointer;
}

.show-grid.row {
  margin-bottom: 20px;
  margin-left: 75px;
}


.topic-text {
  font-family: 'Gruppo', cursive;
  color: ghostwhite;
  width: 350px;
  margin: 0 auto;
  text-align: left;
}

.topic-text:hover {
  font-family: 'Gruppo', cursive;
  color: gold;
  cursor: pointer;
}


div.add-video-link > ul > li > a {
  border-color: #eee #eee #ddd;
}

div.add-video-link > ul > li {
  display: inline-block;
  position: relative;
  margin: 0 auto;
}

.add-video-link > ul > li > a > a {
  color: ghostwhite;
  text-decoration: none;
  font-family: 'Bungee', cursive;
}

.add-video-link > ul > li:hover > a > a {
  color: black;
  text-decoration: none;
  font-family: 'Bungee', cursive;
}


#particles-js-tile-2-particles > canvas {
  background-color: transparent;
}


.topics-header {
  color: ghostwhite;
  font-family: 'Bungee', cursive;
  display: block;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

.fa.fa-random {
  color: #73a8c5;
}

.video-controls {
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

#btn-start-recording {
  display: inline-block;
  position: relative;
  border: solid 2px grey;
  border-radius: 12px;
  width: 80px;
  top: 25px;
  font-size: 150%;
  background-color: #5acfda;
}

#btn-stop-recording {
  display: inline-block;
  position: relative;
  border: solid 2px grey;
  border-radius: 12px;
  width: 80px;
  top: 25px;
  font-size: 150%;
  margin-left: 10px;
  background-color: #c72eb5;
}

.submit-vid-btn {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 150px;
  top: 50px;
  font-size: 150%;
  border: groove 2px grey;
  border-radius: 12px;
}

.submit-vid-btn:hover {
  color: ghostwhite;
  background-color: black;
  border: groove 2px grey;
}

.submit-vid-btn:hover > i {
  color: gold;
}

.video-info {
  display: block;
  position: relative;
  margin: 0 auto;
  top: 50px;
  text-align: center;
}

.image-upload {
  display: block;
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 120px;
  padding-left: 20px;
  border: solid;
  color: #222222;
}


.video-title-label {
  color: #79c1af;
  display: inline-block;
}

.video-topic-label {
  color: #79c1af;
  display: inline-block;
}

.video-description-label {
  display: block;
  position: relative;
  color: #79c1af;
  padding-top: 20px;
}

.video-description-input {
  display: block;
  position: relative;
  width: 30%;
  height: 100px;
  overflow-wrap: break-word;
  line-break: normal;
  margin: 0 auto;
  background-color: black;
  border: solid 2px grey;
  border-radius: 2px;
  color: ghostwhite;
  font-family: 'Gruppo', cursive;
  font-size: 120%;
}

.card-container {
  cursor: pointer;
  height: 232px;
  perspective: 600;
  position: relative;
  width: 100%;
}

.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.card:hover {
  transform: rotateY(180deg);
}

.card .side {
  backface-visibility: hidden;
  border-radius: 12px;
  height: 102%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.card .back {
  background: #222222;
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
  height: 234px;
  border-radius: 8px;
}
